.root {
	-fx-font-family: "Sans-Serif";
	-fx-font-size: 13pt;
	-fx-base: rgb(140, 140, 140);
    -fx-background: rgb(90, 90, 90);
 }
 .grid {
	-fx-grid-lines-visible: true;
}
.popuppane {
	-fx-min-width: 330;
	-fx-max-width: 330;
 	-fx-padding: 0 2 0 2;
}
.popuphbox {
	-fx-alignment: CENTER;
	-fx-spacing: 5;
	-fx-padding: 5; 
}
.popuplabel {
	-fx-wrap-text: true;
}
.popupscrollpane {
	-fx-hbar-policy: never;
	-fx-fit-to-width: true;
	-fx-padding: 5 10 5 5;
	-fx-pref-height: 180;
}
.dayviewpane {
	-fx-pref-width: 170;
	-fx-pref-height: 140;
	-fx-padding: 6;
}
.dayviewhbox {
	-fx-alignment: CENTER_RIGHT;
	-fx-padding: 0 0 6 0;
}
.dayviewdatelabel {
	-fx-text-fill: orange;
}
.shoppingListCategory {
	-fx-text-fill: orange;
	-fx-spacing: 0;
	-fx-padding: 3 3 3 3;
}
.shoppingListItem {
	-fx-spacing: 0;
	-fx-padding: 0 3 0 8;
}
.okbutton {
	-fx-default-button: true;
}