.root {
	-fx-font-family: "Sans-Serif";
	-fx-font-size: 11pt;
}
.button {
	-fx-padding: 5 5 5 5;
}
.hboxPopup {
	-fx-padding: 10 10 10 10;
	-fx-spacing: 10;
}
.vboxPopup {
	-fx-padding: 10 10 10 10;
	-fx-spacing: 10;	
}
.scrollpanePopup {
	-fx-min-height:200;
	-fx-max-height: 200;
}
.labelPopup {
	-fx-padding: 10 10 10 10;
	-fx-spacing: 10;
	-fx-min-width: 330;
	-fx-max-width: 330;	
}
.labelScrollPane {
	-fx-min-width: 280;
	-fx-max-width: 280;
}
.centered {
	-fx-alignment: CENTER;
}