.root {
	-fx-font-family: "Sans-Serif";
	-fx-font-size: 13pt;
	-fx-base: rgb(140, 140, 140);
    -fx-background: rgb(90, 90, 90);
 }
.popuppane {
	-fx-min-width: 300;
	-fx-max-width: 300;
 	-fx-padding: 5 0 5 0;
 	-fx-spacing: 5;
}
.popuplabel {
	-fx-text-wrap: true;
}
.grid {
	-fx-grid-lines-visible: true;
}
.dayviewpane {
	-fx-pref-width: 170;
	-fx-pref-height: 140;
	-fx-padding: 6;
}
.dayviewhbox {
	-fx-alignment: CENTER_RIGHT;
	-fx-padding: 0 0 6 0;
}
.dayviewdatelabel {
	-fx-text-fill: orange;
}

 /*
.hboxPopup {
	-fx-alignment: CENTER;
	-fx-spacing: 10;
	-fx-padding: 10 0 10 0;
}
.gridpane {
	-fx-grid-lines-visible: true;
	-fx-alignment: CENTER;
}
.borderpane {
	-fx-pref-width: 360;
	-fx-pref-height: 400;
	-fx-max-width: 360;
	-fx-spacing: 10;
	-fx-padding: 5 10 0 10;
}
.dayviewborderpane {
	-fx-min-width: 170;
	-fx-min-height: 120;
	-fx-padding: 5;
}
.dayviewdatetext {
    -fx-text-fill: plum;
	-fx-padding: 0 0 5 0;
}
.dayviewhbox {
	-fx-alignment: CENTER_RIGHT;
	-fx-text-fill: red;
}
.textArea {
	-fx-wrap-text: true;
}
.label {
	-fx-wrap-text: true;
    -fx-text-fill: orange;
}
.scroll-pane {
	-fx-hbar-policy: never;
	-fx-fit-to-width: true;
	-fx-padding: 5;
}
.button{
    -fx-text-fill: rgb(10, 10, 10);
    -fx-border-color: rgb(10, 10, 10);
    -fx-border-radius: 5;
}
.menu-bar {
    -fx-background: gray;	
	-fx-base: lightgray;	
}
.menu-item {
    -fx-background: gray;	
	-fx-base: lightgray;
}
.vboxPopup {
	-fx-spacing: 0;
	-fx-padding: 3;
}
.shoppingListHeading {
	-fx-text-fill: red;
	-fx-spacing: 0;
	-fx-padding: 3 3 0 0;
}
.shoppingListCategory {
	-fx-text-fill: blue;
	-fx-spacing: 0;
	-fx-padding: 3 3 3 6;
}
.shoppingListItem {
	-fx-spacing: 0;
	-fx-padding: 0 3 0 9;
}*/