.root {
	-fx-font-family: "Sans-Serif";
	-fx-font-size: 13pt;
	-fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);}
.hboxPopup {
	-fx-alignment: CENTER;
	-fx-spacing: 10;
	-fx-padding: 10 0 10 0
}
.borderpane {
	-fx-pref-width: 360;
	-fx-pref-height: 400;
	-fx-max-width: 360;
	-fx-spacing: 10;
	-fx-padding: 0 10 0 10;
}
.textArea {
	-fx-wrap-text: true;
}
.label {
	-fx-wrap-text: true;
	-fx-padding: 6;
}
.scroll-pane {
	-fx-hbar-policy: never;
	/*-fx-vbar-policy: always;*/
	-fx-fit-to-width: true;
}
.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
}